body {
  background-color: white;
}
.panel-primary > .panel-heading {
  background-color: #646464;
}
.jumbotron {
  margin-top: 30px;
  border: 10px #646464 solid;
}
.btn {
  background-color: #646464;
  color: white;
}
#sub-header{
  margin-bottom: 15px;
}
h3{
  padding-top: 0px;
}
